* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
header, main, footer {
  width: 1400px;
  margin: 0 auto;

}
.conteiner {
  width: 1296px;
  margin: 0 auto;
}
* {
  font-family: "Cabin", sans-serif;
}

/* header header header header header  */

header {
  background: #10bbd5;
  position: sticky;
  z-index: 1;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-bookread {
  color: #f8fdfe;
  font-size: 24px;
  font-weight: 700;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 22px 0 22px 0;
}
.header-logo a {
  display: flex;
}
.header-logo-book {
  padding: 0 4px 0 0;
}
.header-prise {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 8px 0 0;
}
.header-cart {
  display: flex;
  align-items: center;
  padding: 22px 0 22px 52px;
}
.header-icon-prise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-icon-icon-prise {
  display: flex;
}
.header-icon-icon-prise img:first-child {
  padding: 0 5px;
}

/* nav nav nav nav nav nav */

nav {
  background-color: #FFF; ;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 0;
}
.nav-menu-last {
  display: flex;
}
.nav-menu-last li:nth-child(2) {
  padding: 0 40px;
}
/* main main main main main main main */

main {
  background: #eeeeef;
  padding-bottom: 120px;
}
.img {
  position: absolute;
  right: 0;
  right: -106px;
  top: 699px;
}
h1 {
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 36px 0 23px 0;
}
.line-main {
  display: inline-block;
  border-bottom: 2px solid #a8a8a8;
  width: 1296px;
  text-align: center;
  margin: 0 0 24px 0;
}

/* card card card card card card */

.conteiner-card {
  width: 242px;
  margin: 0 auto;
}
.card-news {
  display: flex;
  position: absolute;
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
}
.card-news li {
  margin-left: 4px;
}
.card-news li {
  border-radius: 4px;
  background: #4200ff;
  padding: 4px 8px;
}
.main-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}
.card {
  display: flex;
  background-color: #f8fdfe;
  width: 306px;
  height: 512px;
  margin-bottom: 16px;
  border: 2px solid #a8a8a8;
}
.card img {
  padding: 32px 32px 0 32px;
  text-align: center;
  display: flex;
  margin-bottom: 16px;
}
.card a {
  color: #1f1f1f;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}
.card p:nth-child(4) {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  border-top: 1px solid #a8a8a8;
}
.card-prise {
  display: flex;
}
.card-prise p:first-child {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding-right: 24px;
  padding-bottom: 16px;
}
.card-prise p:last-child {
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 16px;
}
.card-button {

  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding: 8px 74px;
  margin: 0 0 32px 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4c394e;
  position: relative;
  overflow: hidden;
}

.card-button::after {
  position: absolute;
  width: 100%;
  height: 100%;
  color:#F8FDFE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-button:hover::after {
  content: 'End up';
  color: #ffffff;
  background: #4D762D;

}

/* footer footer footer footer footer  */

footer {
  background-color: #4c394e;
}
footer p {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 32px 0;
}
.footer-text {
  display: flex;
  justify-content: space-between;
}